* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    
}
main{
    margin: 0 auto;
    max-width: 600px;
    background-color: rgb(185, 187, 189);

}
/*---------------------------Mateus---------------------------------------*/
header{
    width: 100%;
    height: 100px;
    background-color: black;
}

h1{
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 50px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    
    height: 120px;
}

.banner{
    width: 600px;
    height: 350px;
    background-image: url(../imagens/banner_mobile.jpg);
    background-position: center;
    background-size: cover;

}

.btn{
    margin-top: 50px;
}

.btn button{
    margin-left: 50px;
    width: 113px;
    height: 31px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.escolhas{
 padding: 20px;
}

.imagenEscolha{
    margin-top: 80px;
    width: 100px;
    height: 100px;
    background-image: url(../imagens/tshirt2_mobile.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.flexMateus {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*---------------------------Mateus---------------------------------------*/
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}